<p>We're working really hard and making great progress.  Since we haven't put enough
	love into <%= application_name %> we aren't quite ready to share it with you.
	We are excited to invite you in when it is ready.  Just let us
	know your email address and we'll drop you an email when it's ready for you.
</p>
	
	<%= render :partial => "interested_party_form" %>

