<% provide(:title, 'Contact') %>

<div class="marketing-page-container">
<h1 class="marketing-h1">Contact</h1>

<%= render :partial => "contact_help_form" %>

<%= render :partial => "in_progress" %>
</div>