<% provide(:title, 'Help') %>
<% provide(:description, 'Contact us folks at The Marketing Calendar and let us know how we can help you.') %>

<div class="marketing-page-container">
<h1 class="marketing-h1">Help Me!</h1>

<%= render :partial => "contact_help_form" %>

<%= render :partial => "in_progress" %>
</div>