<% provide(:title, 'Home') %>
<h1>Welcome to <%= application_name %></h1>

<%= render :partial => "in_progress" %>


<!-- <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> -->