<% provide(:title, 'Home') %>
<% provide(:description, 'The Marketing Calendar helps marketing professionals to lay out their plans and successfully implement those plans') %>

<div class="container-fluid">
	<div class="row">
		

<div class="jumbotron">
	<div class="container">
		<div class="block">
			<h2>
				Your marketing team's organizational secret
			</h2>
			<p>
				The Marketing Calendar simplifies your marketing organization. All of your marketing team sees and executes the same plan.
			</p>
			<p>
				<a class="btn btn-primary btn-lg" role="button">Learn more »</a>
			</p>
		</div>
	</div>
</div>
<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>
				Why You Care
			</h2>
			<p>
				Your entire team shares the same marketing plan on the same calendar. Updates to the calendar are automatically shared with your entire team. Everyone comes together. Everyone is working on the same goals.
			</p>
			<p>
				<a class="btn btn-default" href="#" role="button">Dazzle me »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Pricing
			</h2>
			<p>
				When you start using The Marketing Calendar you can invite as many teammates as you like to share your calendar. We strive to simplify your life. Our simple pricing plan is just one outgrowth from our core mission.
			</p>
			<p>
				<a class="btn btn-default" href="#" role="button">Show me the money »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Articles
			</h2>
			<p>
				Some ideas and tactics that you might find helpful in designing your strategy and following through on its execution.
			</p>
			<p>
				<a class="btn btn-default" href="#" role="button">Give me some ideas »</a>
			</p>
		</div>
	</div>


<%= render :partial => "in_progress" %>


<!-- <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> -->