<% provide(:title, 'Home') %>
<h1>StaticPages#home Modified by Yves</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

Home page is here.

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>