<% provide(:title, "Our Technology") %>

<h1>Our Technology</h1>

<div class="marketing-page-container">

	<a name="security"></a>
	<h2 class="marketing-h2">Security Is Critical</h2>
	<p>
	We know that the security of your information is critical to you.  Your planning information may just be the
	key that helps you beat your competition.  And we want to help you win!  So what do we do?  
	<ul>
		<li>Login security descriptions</li>
		<li>Ongoing testing</li>
		<li>More</li>
	</ul>
	</p>


	<a name="backup"></a>
	<h2 class="marketing-h2">Backup Saves Your Bacon</h2>
	<p>
	The reality is that sometimes computer hardware has problems.  So we backup all data.
	<ul>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	</p>
</div>