<% provide(:title, "Pricing") %>

<div class="marketing-page-container">
	<h1 class="makreting-h1">Pricing</h1>


	<p>
		<strong>$19 / month.</strong> That's all we need from you to make the pain go away.
		You get it all.  You're wondering about the limitations and features that cost extra.
		There aren't any...you get it all for the one price.

	</p>

<ul class="marketing-ul">
	<li>Unlimited events so <strong>you can successfully work your plan rather than worrying about communication</strong></li>
	<li>Share events: <strong>your whole team is following the same tactical plan</strong></li>
	<li>Setup wizard: <strong>get started easily and quickly</strong></li>
</ul>
</div>