<% provide(:title, "Pricing") %>

<h1>Pricing</h1>


<p>
	<strong>$19 / month.</strong> That's all we need from you to make the pain go away.
	You get it all.  You're wondering about the limitations and features that cost extra.
	There aren't any...you get it all for the one price.

</p>