<% provide(:title, "What's in it for me?") %>


<div class="marketing-page-container">
	<h1 class="marketing-h1">What's in it for me?</h1>

	<ul>
		<li>A central location for your marketing tactics</li>
		<li>Centralized, shared resource -- no more passing around locked spreadsheets</li>
		<li>Daily email reminders
			<ul>
				<li>All of your upcoming events</li>
				<li>Cause events reminders to be sent to people who are not users of the app</li>
			</ul>
		</li>
		<li>View whole month at a time <strong>so you can <i>see</i> where you have overlapping efforts or gaps in your tactics</strong></li>
		<li>Show events that extend over multiple days, such as AdWords campaigns</li>
		<li>Each user can have multiple calendars</li>
		<li>Each user can share any given calendar with others</li>
		<li>Show or hide any calendar or category of events within a calendar so you can see the level of info you want</li>
		<li>Cost savings by reducing man hours in sharing calendar data</li>
		<li>Your information is <i>your</i> information.  We know that we are merely custodians of your your data so we do not use your data.</li>
		<li>It's your data and we know you are the only one who decides
		who else sees your data.  We all worry about it.  And since you trust us with your data 
		we feel like we have go above and beyond all expectations to have <%= link_to "great security", our_technology_path(:anchor => "security") %>.  
		 </li>
		 <li>Part of our responsibility in caring for your data is backups.  We have a <%= link_to "seriously reliable backup strategy", our_technology_path(:anchor => "backup") %>.</li>
	</ul>

	<h1>But wait!  I can't do this.  Here's why:</h1>

	<ul>
		<li>What if I enter in a bunch of stuff and then quit?  <strong>You can download all your data at any time in a spreadsheet.</strong></li>
	</ul>

	<ul><li>Privacy</li><li>Security</li><li>Backups</li></ul>
</div>
