<h3>This is the list of users who have signed up to be notified of The Marketing Calendar news:</h3>

<% @interested_parties.each do |party| %>
  <tr>
    
    <td><%= party.email %></td>
    
  </tr>
<% end %>



  
<h2>The Marketing Calendar Admin.</h2>