<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Experience the Awesome</h1>
    <p>
		We are excited about <%= application_name %>!  Really excited!  That's why we use
			exclamation points.
    </p>

	<p>We look forward to sharing with you.</p>
	
	<p>Regards,<br/> 
		The Admin Guys
		<br/> 
      To login to the site, just follow this link: <%= @url %>.
    </p>

  </body>
</html>