<h1 id="your_data_is_your_data">Your Data Is Your Data</h1>

<p>We understand that you are trusting us to hold your information.  We want you to
	know that you are not stuck with us.  You are free to download all of your
	information any time you want.
</p>
<p><%= link_to 'Download it all', download_data_csv_path %></p>
