<h1 id="your_data_is_your_data">Your Data Is Your Data</h1>
<style type="text/css" media="screen">
.download_p {
	width:400px;
	margin:auto;
}
</style>
<p class="download_p">We understand that you are trusting us to hold your information.  We want you to
	know that you are not stuck with us.  You are free to download all of your
	information any time you want.  If you'd like we will arrange to send you a CSV file
	every day (some of our customers have setup Gmail accounts just to save these daily CSVs).
</p>
<p class="download_p"><%= link_to 'Download it all', download_data_csv_path %></p>
