<% provide(:title, @title) %>
<h1><%= @title %></h1>


<p>
	The best marketing strategy has lots of moving parts that come together at just the right times to form a series of cohesive campaigns.  
</p>

<p>
	Key elements:
	<ul>
		<li>Well-defined targets: sharply focused...can’t target everyone all at once...laser in on one segment at a time, groups characterized by their needs</li>
		<li>Deep contextual understanding: understand their situation...their path to purchase...which points drive them through sales funnel...motivations/pain points...where they get stuck/blocked...how to get them unstuck...buyer personas...</li>
		<li>Clear conversion goals: different goals for each stage of the buyer going through the sales funnel</li>
		<li>Contact methods: choose appropriate methods at each point...SEM, forums, ads, telephone, email, text, tweets...consider buyer & their context when choosing</li>
		<li>Alignment: their context, contacts, </li>
		<li>Message: clear and inviting...consistent...convey unique business stature...convey benefits of product or service (branding)</li>
	</ul>

</p>

