<% provide(:title, @title) %>
<h1 class="marketing-h1"><%= @title %></h1>

<p>
	The pressure to publish timely, engaging, content has never been higher.  The list of content channels keeps expanding.  Each channel requires constant care.  Feeding the channels valuable content is the core of every conversation.
</p>

<p>
	Managing the workflow involved to create information is a challenge.  Keeping track of when to push content to each channel is a time consuming task.  Developing the plan is a challenge in itself, but actually executing the plan requires serious organization and diligence.
</p>

<p>
	The best marketing strategy has lots of moving parts that come together at just the right times to form cohesive campaigns. [Those campaigns should promote a strong brand message].  Coordinating so many elements is a challenge.  It is imperative to have use a team calendar to manage the process.  Using a calendar significantly impacts your content marketing success.
</p>

<p>
	Your calendar serves as your road map while you travel down the road of marketing strategy implementation.
	<ul>
		<li>Organize quality content that is consistently valuable to your audience</li>
		<li>Align team members so everyone knows who is responsible for which task and when</li>
		<li>Frame the structure in which you can plan and manage content creation</li>
		<li>Consistency</li>
	</ul>
</p>

