<% provide(:title, @title) %>
<% provide(:description, 'Successful implementation of a marketing plan requires team coordination, a good plan, and follow through.') %>

<h4><a name="Implementation"><%= @title %></a></h4>

<p>
	Developing a marketing plan is a challenging task.  You work with your team (sometimes it’s just your own Team of One).  You brainstorm collectively.  You hash out ideas.  The team debates the merits of advertising in one channel or another. Everyone makes their points.  Battles are waged.  Decisions are made.  The weapons are once again put away.
</p>

<p>
	Now what?
</p>

<p>
	The team needs to implement the marketing plan!
</p>

<p>
	Hockey legend Wayne Gretzky said “You can’t score a goal if you don’t take a shot.” Taking a shot is the actual implementation of a lot of planning.  By implementing your marketing plan you actually take your shot at your goal.  If you don’t implement your plan you won’t hit your goal.
</p>

<p>
	Effective marketing implementation means taking action.  And, if you have several people involved in your team you will be doing a lot of communication.  Some teams choose to create and circulate a spreadsheet to keep everyone informed about the status of the various tactics.
</p>

<p>
	In addition to information there is action.  Having your initiatives in “digital paper” is not action.  Your team members need to execute their tasks.
</p>

<p>
	A successful implementation of a marketing plan requires:
	<ul>
		<li>Effective coordination amongst the team members</li>
		<li>Attention to details, like the tasks and dates</li>
		<li>Elimination of procrastination: get your team moving on the tasks they own</li>
		<li>Accountability for each task</li>
		<li>Team members understand and own their assignments</li>
		<li>Team members have the skills to accomplish their assignments</li>
		<li>Flexibility...you should expect to revise continually</li>
	</ul>
	
</p>

<p>
	Accountability is the glue that holds your tactical plans together.  Plans fail when people forget about their tasks.  Everyone is busy, especially small business owners.  It is helpful if you can match your team’s roles with their interests and abilities.  Even better, giving a motivated person an opportunity to develop their skills can improve their sense of ownership.  Task ownership and reminders are an essential element to keep the team meeting their goals.  Nonetheless well laid plans are often left as partially executed ideas due hectic schedules.
</p>

<p>
	If you are the one in charge of implementing your marketing plan then you are accountable.  It is important for you to get a view into the activities of your team, for you to know exactly who should be doing what and when.  If you are part of a small business then the daily routines may make it difficult for you to keep up with your marketing plan.  But it is imperative.
</p>

<p>
	Your competitors are probably hoping you won’t be diligent in the execution of your marketing.  I hope you will be!
</p>
