<h1>Editing calendar</h1>

<%= render 'form' %>

<%= link_to 'Back', category_groups_path %>

<% unless @category_group.new_record? %>	
	<div>
		<h3>Categories in this Calendar</h3>
		<% if @category_group.categories.count > 0 %>
			<% @category_group.categories.each do |cat| %>
				<%= link_to cat.description, edit_category_path(cat) %> <br/>
			<% end %>
		<% else %>
			<p>Sadly there are not yet any categories in this calendar.
				You can <%= link_to "add categories", categories_path %> to this calendar.
			</p>
		<% end %>
	</div>
	<% end %>
