// Place all the styles related to the get_going controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.getGoingYesButton{
	float:left;
}

.getGoingNoButton{
	float:right;
}

.get-going-category {
	font-size:large;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

.get-going-add-button {
	margin-right:0;
}

.get-going-next-button {
	margin-right:0;
}

.get-going-no-events {
	color:#a0a0a0;
}

.get-going-event-list {
	margin-top:25px;
	background-color: #f0f0f0;
}

.get-going-event {
	margin-top:10px;
	margin-bottom:10px;
}

.get-going-event-description {
	color: #0000ff;
}

.get-going-event-date {
	color: #c0c0c0;
	display: inline-block;
	font-size:small;
}

.get-going-category-blurb {
	
}

.get-going-category-description {
	
}

.get-going-form-element {
//	width:80%;
	
}

.bottom-aligned {
	bottom:0;  
	margin-top:7px; 
	left: 0;
}

.weekly-repetition {
	padding-left:20px;
	font-size:medium;
	background-color:#eaeaea;
}

.get-going-daily-checkbox {
	display:inline-block;
	font-weight:normal;
	padding-left:10px;
}