// Place all the styles related to the get_going controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.getGoingYesButton{
	float:left;
}

.getGoingNoButton{
	float:right;
}

.get-going-add-button {
	margin-right:0;
}

.get-going-next-button {
	margin-right:0;
}

.get-going-event {
	margin-top:10px;
	margin-bottom:10px;
}

.get-going-event-description {
	color: #8888ff;
}

.get-going-event-date {
	color: #c0c0c0;
	display: inline-block;
	font-size:small;
}

.get-going-form-element {
//	width:80%;
	
}

.bottom-aligned {
	bottom:0;  
	margin-top:7px; 
	left: 0;
}

.weekly-repetition {
	padding-left:20px;
	font-size:medium;
	background-color:#eaeaea;
}

.get-going-daily-checkbox {
	display:inline-block;
	font-weight:normal;
	padding-left:10px;
}

.get-going-category {
	font-size:large;
	width:70%;
	margin-left:auto;
	margin-right:auto;

	.blurb {
		font-size:large;
	}

	.description {
		font-size:medium;
		font-weight:normal;
	}
	
	.buttons {
//		background-color:green;
//		white-space:nowrap;
		margin-bottom: 70px;

//		.add-button {
//			@extend btn;
//			@extend btn-large;
//			@extend btn-primary;
//			display: inline-block;
//			vertical-align:top;
//			float:left;
//			padding: 5px;
//		}
//
		.next-button {
			float:right;
//			@extend btn-primary;
//			@extend btn;
//			@extend btn-large;
//			display: inline-block;
//			vertical-align:top;
//			padding: 5px;
		}
	}
	
	
	.event-list {
		margin-top:25px;
		background-color: #f5f5f5;
		padding: 5px 5px 5px 25px ;

		h2 {
				text-align:left;
				padding-bottom:0;
				margin-bottom:0;
		}

		.no-events {
			color:#a0a0a0;
		}
	}
}

.get-going-form {
	.description {
		
	}
	
	.form-group {
		
	}
	
	.sub-description {
		font-size:small;
	}
}