// Place all the styles related to the get_going controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.getGoingYesButton{
	float:left;
}

.getGoingNoButton{
	float:right;
}

.get-going-category {
	font-size:large;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

.get-going-add-button {
	margin-right:0;
}

.get-going-next-button {
	margin-right:0;
}

.get-going-no-events {
	
}

.get-going-event-description {
	color: #0000ff;
}

.get-going-event-date {
	color: #c0c0c0;
}

.get-going-category-blurb {
	
}

.get-going-category-description {
	
}