// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

.jumbotron {
	background: url('/assets/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#333;
  	//font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
	
}
.block {
	background-color:rgba(0, 0, 0, 0.85);
    height:100%;
  	padding-left:12px;
  	padding-right:12px;
	opacity:1;
}
.logo-bg{
	
	background-image:url("new-logo.png");
	float:left;
	width:80px;
	height:100px;
	margin:0;
	position:relative;
	padding-top:18px;
  	padding-left:34px;
  	padding-right:18px;
	font-size:1em;
	text-align:center;
}
.logo {
	
	//background-image:url("new-logo.png");
	background-color:#ddd;
	box-shadow: 4px 4px 5px #888888;
	//border-style:solid;
	border-width:2px;
	//border-color:blue;
	border-radius:5px;
	float:left;
	position:relative;
	left:-10px;
	padding-top:5px;
  	padding-left:12px;
  	padding-right:12px;
	font-size:1em;
	color:#333;
	padding:0;
	overflow:hidden;
	text-align:center;
	width:28px;
	font-weight:bold;
}
.month {
	background-color:#e00;
	width:100%;
	margin: 0;
	font-size:-2em;
	color:#fff;
	font-weight:normal;
}
.navbar-default .navbar-brand {
	
	color:black;
	padding-left:12px;
  	padding-right:12px;
	font-size:15px;
	
}
